.clothesimg {
  max-width: 500px;
  margin-left: 40px;
  margin-right: 93px;
  float: left;
}

h1 {
  text-align: center;
}

.kayak {
  max-width: 500px;
  margin-left: 40px;
  margin-right: 93px;
  float: left;
}
