.contactinformation {
  display: block;
  text-align: left;
  font-size: 24px;
}

h1 {
  text-align: center;
}

.contactpic {
  max-width: 350px;
  float: left;
  margin-left: 50px;
  margin-bottom: 30px;
  margin-right: 50px;
}

div.contactform {
  display: flex;
  align-items: center;
  justify-content: center;
}

form > fieldset {
  padding: 0.5rem 0;
}

fieldset {
  border: none;
}

section::after {
  content: "";
  clear: both;
  display: table;
}

input[type="text"] {
  outline: none;
  width: 100%;
}

input[type="email"] {
  outline: none;
  width: 100%;
}

textarea {
  outline: none;
  width: 100%;
}

input[type="submit"] {
  border: none;
  outline: none;
  padding: 10px;
  color: #ffff;
  background-color: #0b3a40;
  text-align: center;
  cursor: pointer;
  font-size: 18px;
  width: 100%;
  border-radius: 8px;
  margin-top: 10px;
  font-weight: bold;
}

.infocontact {
  font-weight: bold;
}

.infocontact-2 {
  font-style: italic;
}
