main h1 {
  background-image: url("../images/Edit-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 800px;
  margin-top: 50px;
}

h1 {
  color: #ffff;
}

.productimage {
  display: inline-flex;
  max-width: 250px;
  padding: 20px;
}

.peopleimage-flex {
  margin: 0px;
}

.peoplepicture {
  display: inline-flex;
  max-width: 300px;
  padding: 10px;
}

h2,
h3 {
  margin: 10px;
}
