.mainpic {
  position: relative;
  text-align: center;
  background-image: url("../images/Edit-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 800px;
  margin-top: 40px;
}

.mainpic h1 {
  position: absolute;
  top: 15%;
  left: 30%;
  transform: translate (-50%, -50%);
  color: #ffff;
  text-align: center;
  font-size: 72px;
}
.mainpic button {
  border: none;
  outline: 0px;
  padding: 30px;
  color: #ffff;
  background-color: #7b4026;
  text-align: center;
  cursor: pointer;
  width: 15%;
  font-size: 24px;
  font-weight: bold;
  border-radius: 8px;
  margin: 10px;
}

.mainpic button:hover {
  opacity: 0.9;
}

.button,
.women {
  position: absolute;
  top: 35%;
  left: 33%;
}

.button,
.men {
  position: absolute;
  top: 35%;
  left: 52%;
}

.peoplepicture {
  display: inline-flex;
  max-width: 300px;
  padding: 10px;
  margin-left: 25px;
  margin-bottom: 30px;
}

h2,
h3 {
  margin-left: 50px;
  margin-bottom: 0px;
}

.container {
  display: flex;
  flex-direction: row;
}

.card-1 {
  max-width: 300px;
  border: 2px;
  border-color: #0000;
  text-align: center;
  margin-left: 40px;
  padding: 10px;
}

.price {
  color: grey;
  font-size: 18px;
}

.card-1 button {
  border: none;
  outline: 0px;
  padding: 10px;
  color: #ffff;
  background-color: #0b3a40;
  text-align: center;
  cursor: pointer;
  width: 80%;
  font-size: 18px;
  border-radius: 8px;
  margin-left: 35px;
}

.card-1 button:hover {
  opacity: 0.7;
}

.productimage {
  max-width: 250px;
  max-height: auto;
  margin-left: 35px;
}

h3 {
  font-style: italic;
  font-weight: 500;
  margin-top: 5px;
}


  

