/* codes for all pages*/

body {
  font-family: helvetica, Verdana, sans-serif;
  background-color: #f2f2f2;
  margin: 0px;
}

.logo,
.nav-product {
  display: inline-block;
}

.logo {
  max-width: 200px;
  display: block;
  margin: 10px;
  float: left;
}

.fa-shopping-bag,
.fa-search {
  color: #0b3a40;
  margin: 10px;
  font-size: 3em;
  float: right;
}

.fa-shopping-bag:hover {
  color: #7b4026;
}

.fa-search:hover {
  color: #7b4026;
}

.nav-product {
  color: #0b3a40;
  text-decoration: none;
  font-weight: bold;
  font-size: 32px;
  padding: 15px;
  float: center;
}

.nav-product li {
  display: inline-block;
}

.nav-product:hover {
  color: #7b4026;
}

.nav-list {
  color: #ffff;
  text-decoration: none;
  padding: 10px;
  margin: 0px;
  background-color: black;
  height: 20px;
  max-width: 1420px;
}

.nav-list li {
  display: inline-block;
}

.nav-list:hover {
  color: #7b4026;
}

/* codes for men, women, and news */
.productimage {
  max-width: 250px;
  margin-left: 35px;
}

.container-2 {
  display: flex;
  flex-direction: row;
}

.card-2 {
  max-width: 300px;
  border: 2px;
  border-color: #0000;
  text-align: center;
  margin-left: 40px;
  padding: 10px;
}

.price {
  color: grey;
  font-size: 18px;
}

.card-2 button {
  border: none;
  outline: 0px;
  padding: 10px;
  color: #ffff;
  background-color: #0b3a40;
  text-align: center;
  cursor: pointer;
  width: 80%;
  font-size: 18px;
  border-radius: 8px;
  margin-left: 35px;
}

/* about */

/* contact */

/* rainy days */

/* storefinder */

/* footer */

/* productinfo */
