body {
  font-family: helvetica, Verdana, sans-serif;
  background-color: #f2f2f2;
  margin: 0px;
}

.logo,
.nav-product {
  display: inline-block;
}

.logo {
  max-width: 200px;
  display: block;
  margin: 10px;
  float: left;
}

.form__input {
  display: block;
}

.fa-shopping-bag,
.fa-search {
  color: #0b3a40;
  margin: 10px;
  font-size: 3em;
  float: right;
}

.nav-product {
  color: #0b3a40;
  text-decoration: none;
  font-weight: bold;
  font-size: 32px;
  padding: 10px;
  float: center;
}

.nav-product li {
  display: inline-block;
}

.nav-product:hover {
  color: #7b4026;
}

.nav-list {
  color: #ffff;
  text-decoration: none;
  padding: 10px;
  margin: 0px;
  background-color: black;
  height: 20px;
  max-width: 1420px;
}

.nav-list li {
  display: inline-block;
}

.nav-list:hover {
  color: #7b4026;
}
