body {
  font-family: helvetica, Verdana, sans-serif;
  background-color: #f2f2f2;
}

nav li {
  display: inline-block;
}

nav a {
  color: #0b3a40;
  text-decoration: none;
  padding: 10px;
}

nav a:hover {
  text-decoration: underline;
  color: #7b4026;
}

.logo {
  max-width: 200px;
}

.form__input {
  display: block;
}

.menu {
  color: #000;
}
